<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Chess</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>

<body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
  Hello world
  
    
  <div id="messages" class = "scroll">
    Messages received:
  </div>
  
  <div class="main" id="main_box">
    <svg xmlns="http://www.w3.org/2000/svg" id="main_svg" viewBox="0 0 1000 1000" onload="MainBoard.setup_svg(event)">
    </svg>
  </div>
  
</body>

</html>